<link rel="import" href="../polymer/polymer.html">

<!--
Element providing solution to no problem in particular.

##### Example

    <seed-element></seed-element>

@element seed-element
@blurb Element providing solution to no problem in particular.
@status alpha
@homepage http://polymerlabs.github.io/seed-element
-->
<polymer-element name="ctm-speech-bubble" attributes="title body">

  <template>

    <link rel="stylesheet" href="ctm-speech-bubble.css" />

      <div id="DIV_1">
    <h1 id="H1_2">
      {{title}}
    </h1>
    <p id="P_3">
      {{body}}
    </p>
  </div>

  </template>

  <script>

    Polymer('ctm-speech-bubble', {
      /**
       * The `author` attribute sets an initial author
       * 
       * @attribute author
       * @type string
       * @default 'Dimitri Glazkov'
       */
      author: 'David Boyne',
      
      /**
       * `fancy` is a property that does something fancy.
       * 
       * @property fancy
       * @type bool
       * @default false
       */
      fancy: false,
      ready: function() {
        this.tabs = [];
      },

      /**
       * The `sayHello` method will return a greeting.
       * 
       * @method sayHello
       * @param {String} greeting Pass in a specific greeting.
       * @return {String} Returns a string greeting.
       */
      sayHello: function(greeting) {
        var response = greeting || 'Hello World!';
        return 'seed-element says, ' + response;
      },

      /**
       * The `seed-element-lasers-success` event is fired whenever we
       * call fireLasers.
       * 
       * @event seed-element-lasers-success
       * @param {Object} detail
       *   @param {string} detail.sound An amazing sound.
       */

      /**
       * The `fireLasers` method will fire the lasers. At least
       * it will dispatch an event that claims lasers were fired :)
       * 
       * @method fireLasers
       */
      fireLasers: function() {
        this.fire('seed-element-lasers-success', { sound: 'Pew pew pew!' });
      }

    });

  </script>

</polymer-element>
