<link rel="import" href="../polymer/polymer.html">

<polymer-element name="ctm-speech-bubble" attributes="title body">

  <template>

    <link rel="stylesheet" href="ctm-speech-bubble.css" />

      <div id="DIV_1">
        <h1 id="H1_2">
        {{title}}
        </h1>
      <p id="P_3">
        {{body}}
      </p>
  </div>

  </template>

  <script>

    Polymer('ctm-speech-bubble', {
      /**
       * The `author` attribute sets an initial author
       * 
       * @attribute author
       * @type string
       * @default 'Dimitri Glazkov'
       */
      author: 'David Boyne',

      ready: function() {
      }

    });

  </script>

</polymer-element>
