<!doctype html>
<html>
<head>
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
  <title>david-boyne Demo</title>

  <script src="../platform/platform.js"></script>
  <link rel="import" href="david-boyne.html">

</head>
<body unresolved>

  <h1>One of the best elements on the web</h1>

  <h2>An example of using <code>&lt;david-boyne></code>:</h2>

  <david-boyne radius="50" width="10">
  </david-boyne>

  <david-boyne radius="10"  width="10">
  </david-boyne>

  <david-boyne radius="20"  width="5">
    <h1>Wow, this element will change the web</h1>
  </david-boyne>

</body>
</html>
